

<div class=" display-4">
    <strong> @ViewBag.Price AZN: </strong>
    THANKS VERY MUCH

    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Go Back</a>
    </p>
</div>