@model List<Category>



<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        All Categories
    </a>
    @foreach (var category in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">@category.Name</a>
    }

</div>